<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zonghong.cuntao">

    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION">

    </uses-permission> <!--用于访问GPS定位-->    <!--如果是安卓8.0，应用编译配置的targetSdkVersion>=26，请务必添加以下权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission> <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission> <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission> <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission> <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission> <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission> <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission> <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission> <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
    <!-- 新消息震动提醒 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <application
        android:name=".MAPP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.loginregister.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.RankActivity"></activity>

        <activity android:name=".activity.SettingActivity"></activity>

        <activity android:name=".activity.user.AlterPhoneActivity"></activity>

        <activity android:name=".activity.OrderDetailActivity"></activity>

        <activity android:name=".MainActivity"></activity>

        <activity android:name=".activity.loginregister.RegisterActivity"></activity>

        <activity android:name=".activity.loginregister.ForgetActivity"></activity>

        <activity android:name=".activity.common.AlterTextActivity"></activity>

        <activity android:name=".activity.user.BindAlipayActivity"></activity>

        <activity android:name=".activity.user.AlterAlipayActivity"></activity>

        <activity android:name=".activity.common.TextActivity"></activity>

        <activity android:name=".activity.user.MyBankActivity"></activity>

        <activity android:name=".activity.user.NewBankActivity"></activity>

        <activity android:name=".activity.PublishContentActivity"></activity>

        <activity android:name=".activity.article.ArticleAddActivity"></activity>

        <activity android:name=".activity.user.MyAtricleActivity"></activity>

        <activity android:name=".activity.TransitionResultActivity"></activity>

        <activity android:name=".activity.user.CashActivity"></activity>

        <activity android:name=".activity.user.CashLogActivity"></activity>

    </application>

</manifest>